body {
    font-family: "sans-serif";
    background-color: #444;
}

/*input[type=range] {
    border: 4px;
    border-color: #f00;
}*/

fieldset {
    margin: auto;
    width: 300px;
}

.content {
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 16px;
    border-radius: 4px;
}

/*input[type=range]::-moz-range-track {
    height: 1px;
    border: 0.2px solid #010101;
}*/

.collapseControl {
    color: white;
    margin: auto;
    width: 200px;
    padding: 4px;
    display: block;
    text-align: left;
    background-color: grey;
    border: 0px;
}
